{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}

{% block content %}
{% comment %} {{hello}}
<br>
{{user}} {% endcomment %}
<h2>Welcome to PopStop</h2>
<hr>
<p>PopStop is like a virtaul world where you can find pleasure and stay connected with your peers.
Best place to enjoy and share your thoughts and feelings and get best ideas from professionals.<b>Follow the steps to get started :)</b></p>
<ul>
    <li>Get an account by clicking the signup button.</li>
    <li>Make greate friends that tune with you the most.</li>
    <li>Share your ideas and views and get greate ideas.</li>
</ul>
<h3>"Give everyone the power to share anything with anyone"</h3>
<h4>What are you waiting for?Just go and make an impressive profile!</h4>
{% endblock content %}

{% comment %} {% block scripts %}
<script>
$(document).ready(function(){
    console.log('working')
})
</script>
{% endblock scripts %} {% endcomment %}